body {
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#ele1 {
  padding: 1em 1em;
  font-size: larger;
  text-align: center;
}

a {
  text-decoration: none;
  color: green;
  font-weight: 200;
  margin: 0 2em 2em 0;
  text-align: end;
  cursor: pointer;
}

.section-container {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  margin-top: 2em;
}

#blue-div,
#green-div,
#yellow-div,
#red-div {
  width: 200px;
  height: 200px;
}
